$max-width: 1200px;
$primary-color: #EF6D6D;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/bg.jpeg');
$bg-about-image: url('../img/bg-about.jpg');
$bg-project-image: url('../img/bg-project.jpg');
$bg-contact-image: url('../img/bg-contact.png');
